[defaults]
roles_path = ./ansible/roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
inventory = ./ansible/inventory/hosts.yml
vault_password_file = ./ansible/.vault_pass
host_key_checking = False
