litbot:
  prefix: "!"
  adapters:
    console:
      enabled: true
    discord:
      enabled: true
      token: "{{ discord_bot_token }}"
    twitch:
      enabled: false
      username: "{{ bot_twitch_username | default('change-me') }}"
      token: "{{ bot_twitch_token | default('change-me') }}"
      clientId: "{{ bot_twitch_client_id | default('change-me') }}"
      channel: "{{ bot_twitch_channel | default('change-me') }}"
