- Infrastructure:
    - OPNsense:
        icon: opnsense.png
        href: https://opnsense.itslit.me.uk
        widget:
          type: opnsense
          url: https://opnsense.itslit.me.uk
          username: {{ opnsense_key }}
          password: {{ opnsense_secret }}
    - Arcanine:
        icon: proxmox.png
        href: "https://arcanine.itslit.me.uk:8006"
        ping: "https://10.0.1.110"
        widget:
          type: proxmox
          url: https://arcanine.itslit.me.uk:8006
          username: Terraform@pam!api
          password: {{ arcanine_proxmox_token_secret }}
          node: arcanine
    - Fuecoco:
        icon: proxmox.png
        href: "https://fuecoco.itslit.me.uk:8006"
        ping: "https://10.0.1.113"
        widget:
          type: proxmox
          url: https://fuecoco.itslit.me.uk:8006
          username: Terraform@pam!api
          password: {{ fuecoco_proxmox_token_secret }}
          node: fuecoco
    - Growlithe:
        icon: proxmox.png
        href: "https://growlithe.itslit.me.uk:8006"
        ping: "https://10.0.1.111"
        widget:
          type: proxmox
          url: https://growlithe.itslit.me.uk:8006
          username: Terraform@pam!api
          password: {{ growlithe_proxmox_token_secret }}
          node: growlithe
    - Pawmot:
        icon: proxmox.png
        href: "https://pawmot.itslit.me.uk:8006"
        ping: "https://10.0.1.112"
        widget:
          type: proxmox
          url: https://pawmot.itslit.me.uk:8006
          username: Terraform@pam!api
          password: {{ pawmot_proxmox_token_secret }}
          node: pawmot

- Deployed Containers:
{% for key, item in homepage_containers.items() %}
    - {{ item.name }}:
        icon: {{ item.icon }}
        ping: "https://{{ item.ip }}"
        href: "https://{{ item.name }}.itslit.me.uk"
        proxmoxNode: {{ item.node }}
        proxmoxVMID: {{ item.vmid }}
        proxmoxType: lxc
{% endfor %}