[Unit]
Description=Homepage Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/homepage
Environment=HOMEPAGE_ALLOWED_HOSTS=homepage.itslit.me.uk:3000

# Fix: Use /usr/bin/pnpm (or the result of 'which pnpm')
ExecStart={{ pnpm_bin_path }} start

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target