apiVersion: 1

datasources:
  # Prometheus Data Source
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 30s

  # MySQL Data Source
  - name: MySQL
    type: mysql
    access: proxy
    database: marctowl_gapi
    user: prometheus
    password: "{{ vault_mysql_prometheus_password }}"
    url: "{{ mysql_host | default('db.itslit.me.uk') }}:3306"
    isDefault: false
    editable: true
    jsonData:
      maxOpenConns: 100
      maxIdleConns: 100
      connMaxLifetime: 14400
      logErrors: true

{% if 'fitbit' in hostvars %}
  # Fitbit InfluxDB Data Source
  - name: Fitbit Health
    uid: fitbit_health_stats
    type: influxdb
    access: proxy
    database: "{{ fitbit_influxdb_database | default('FitbitHealthStats') }}"
    user: "{{ fitbit_influxdb_username | default('fitbit_user') }}"
    password: "{{ fitbit_influxdb_password | default('fitbit_password') }}"
    url: "http://{{ hostvars['fitbit']['ansible_host'] }}:{{ fitbit_influxdb_port | default(8086) }}"
    isDefault: false
    editable: true
    jsonData:
      httpMode: GET
{% endif %}
