# Grafana environment variables
GF_SECURITY_ADMIN_PASSWORD={{ vault_grafana_admin_password }}
GF_SECURITY_ADMIN_USER=admin
GF_INSTALL_PLUGINS=grafana-piechart-panel
GF_SERVER_ROOT_URL=http://{{ grafana_domain | default('localhost:' + grafana_port|string) }}
GF_PATHS_PROVISIONING={{ grafana_data_dir }}/provisioning
GF_LOG_LEVEL=info
